footer {
  background-color: #fff;
}

.contato {
  padding: 30px;
  text-align: center;
}

.contato-content{
  margin: 20px;
}

@media (max-width: 450px){
    footer {
        font-size: 0.8rem;
    }
}