@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+JP:wght@100..900&display=swap");

body {
  font-family: "Noto Sans JP", Arial, sans-serif;
  margin: 0px;
  color: #141414;
  background-color: #f0f0f0;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.secao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.subtitulo {
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1;
  font-family: "Archivo Black", sans-serif;
  word-break: break-all;
}

.h3-pequeno {
  font-size: 0.73rem;
  text-transform: uppercase;
  color: #8f8f8f;
  margin-top: 69px;
  margin-left: 30px;
}

.h3-pequeno::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 65px;
}

@media (max-width: 1125px) {
  .secao {
    max-width: 800px;
    grid-template-columns: 1fr;
  }

  .subtitulo {
    font-size: 1.5rem;
    padding: 30px;
    margin: auto;
    letter-spacing: 0.5rem;
  }
}
